header{
    text-align: center;
    // background gradient
    background: rgb(65,234,212);
    background: linear-gradient(230deg, rgba(65,234,212,0.59) 7%, rgba(185,19,114,0.62) 98%);
    min-height: 100vh;
    h1{
        font-family: $headingFont;
        font-size:7rem;
        color: $colorPurple;
        text-shadow: rgba(255, 252, 168, 0.88) 2px 2px 0px
        // text-shadow:  rgba(211, 111, 167, 0.747) 5px 2px 2px
    }
    i{
        font-size:4rem;
        color:$colorBlue;
    }
}

form{
    display:flex;
    flex-direction: column;
    align-items: center;
    .criteriaSection{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-family: $bodyFont;
        
    }
    .criteriaType {
        position: relative;
        display:flex;
        flex-direction: column;
        margin:1rem 2rem;
       
      }
      
      .criteriaType select {
        background-color: rgb(143, 228, 216);
        color: black;
        padding: 12px;
        border: none;
        font-size:0.9rem;
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
        -webkit-appearance: button;
        appearance: button;
        outline: none;
        width:12rem;
        height:2.5rem;
      }
      
      .criteriaType::before {
        content: "\f13a";
        font-family: FontAwesome;
        position: absolute;
        bottom:0;
        right: 0;
        width: 20%;
        height: 2.5rem;
        text-align: center;
        font-size: 1rem;
        line-height: 2.5rem;
        color: $colorPurple;
        background-color: rgba(206, 186, 186, 0.1);
        pointer-events: none;
      }
      
      .criteriaType:hover::before {
        // color: rgba(255, 255, 255, 0.6);
        background-color:  $colorBlue;
      }

    label{
        font-size:1.5rem;
        padding-bottom: 0.4rem;
    }
    
    .nickname{
        width:9rem;
        margin:0 auto;
        padding: 0.5rem;
        border-radius: 5px;
        // hide default arrow
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
       
    }
    .nickname{
        margin: 0.5rem;
    }

    option{
        font-family: $bodyFont;
        font-size:0.9rem;
        
    }
    p{
        font-size: 1rem;
    }
    button{
        font-family: $bodyFont;
        font-size: 2rem;
        font-weight: 600;
        color:$colorPurple;
        background-color:rgb(143, 228, 216);
        border: none;
        border-radius: 5px;
        padding:0.5rem 0;
        width:15rem;
        margin: 1.0rem;
    }
    button:hover,button:focus{
        background-color: $colorBlue;
    }
}
@media (max-width:920px){
    header{
        
        h1{
            font-size: 5rem;
        }
        i{
            font-size:3rem;
        }
       } 
    form{
        label{
        font-size:1rem;
       
        }
        .criteriaType{
            margin:1rem 1rem;
            
        }
        .criteriaType:after{
           
            right:1.4rem;
            top: 2.1rem; 
        }
        
    }
 }
@media (max-width:600px){
   .criteriaSection{
        flex-direction: column;
    }
    select{
        width:15%;
    }
  
}

