@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri:400,600|Poiret+One&display=swap');

$headingFont: 'Poiret One', cursive;
$bodyFont: 'Hind Siliguri', sans-serif;
// These probably need a better naming structure, maybe primary, secondary, tertiary color?
$colorOne: #FF0022;
$colorTwo: #41EAD4;
$colorThree: #B91372;